.header {
  align-items: center;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  font-size: calc(1rem + 1vmin);
  justify-content: space-between;
  height: 4rem;
  padding: 0 1rem;
  border-bottom: solid 3px #1EB4E2;
}

.header_logo {
  margin-right: 20px;
}

.header__extras {
  display: flex;
  align-items: center;
}

.header__username {
  color: white;
  margin: 0 10px;
  font-size: 16px;
}

.header__username > img {
  margin: 0 3px -3px 0;
}

.header__navlinks{
  align-self: flex-end;
}

.header__navlinks-link{
  color: white;
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 10px 5px 10px;
  border-radius: 5px 5px 1px 1px;
}

.header__navlinks-link:hover {
  background-color: #1EB4E2;
}

.header__extras_inbox {
  margin: 10px 10px 0 10px;
}

.active-link {
  background-color: #1EB4E2;
}