.question {
    border: solid 1px #999999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    min-height: 100px;
    margin: 20px;
}

.question__header {
    border-bottom: solid 1px #999999;
    width: 100%;
    background-color: #99999930;
    padding: 0 20px;
}

.question__header > h1 {
    margin: 10px;
}

.question__content {
    margin: 30px;
    display: flex;
}

.question__content-btns {
    display: flex;
    width: 100%;
}

.question__content-image {
    margin: 20px 20px 20px 0;
    align-self: center;
}

.question__content-separator {
    margin: -10px 10px;
    background-color: #999999
}

.question__content-details {
    margin-left: 20px
}

.question__content-details > h2 {
    margin: 10px 0;
}

.question__content-btns button:first-child {
    border-top-left-radius: 10px;
    width: 200px;
}

.question__content-btns button:last-child {
    border-top-right-radius: 10px;
    width: 200px;
}